@charset "utf-8";
/* CSS Document */

.logo {
  text-align: center;
}

#navigation {
  padding: 0;
}

.nav_bar
	{
	background:#0d436f;
	}

.navgiaton {
	border: none !important;
	background:#0d436f;
	margin:0px;
}
.navgiaton ul {
}
.navgiaton ul li {
	border-left: 1px solid #e0e5e9;

}

.navgiaton ul li ul {
	display:block;
}

.navgiaton ul li ul {
  display: none;
  z-index: 1111;
}

.navgiaton ul li:hover ul {
  background: #eaeaea none repeat scroll 0 0;
  display: block;
  padding: 0;
  position: absolute;
  width: 100%;
}

.navgiaton ul li ul li {
  list-style: outside none none;
  padding: 10px 0;
}

.navgiaton ul li ul li:hover {
	background:#0d436f;
}

.navgiaton ul li ul li:hover a{
  color:#fff !important;
  text-decoration:none;
}

.navgiaton ul li ul li a {
  font-size: 16px;
  padding: 0 15px;
  color:#0d436f !important;
}


.navgiaton ul li a {
  color: #ffffff !important;
  font-size: 16px;
  padding: 15px 40px;
}

.navgiaton ul li:first-child {
  border: medium none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #8a171a;
  color: #333333;
}

.page_title h1 {
  font-size: 18px;
}

.page_title {
  border-bottom: 1px solid #cccccc;
  margin: 0 0 20px;
}

.user_info {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  float: left;
  margin: 20px 0 0;
  width:100%;
}

.user_images {
  border: 2px solid #cccccc;
  float: left;
  margin: 15px;
  overflow: hidden;
  width: 88%;
}



.user_images img {
  width: 100%;
}

.user_deatails {
  float: left;
  padding: 0 0 20px;
  width: 100%;
}

.user_deatails h3 {
  color: #0d436f;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.user_deatails h4 {
  color: #868686s;
  font-size: 14px;
  text-align: center;
}

.copyright {
  border-top: 1px solid #cccccc;
  color: #494949;
  padding: 20px 0;
  text-align: center;
  margin: 40px 0 0 0 ;
}

.theme_button
	{
		background:#0d436f;
		color:#fff;
	}





body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.nav li a.active{
  background-color: #eee;
}
.tab-content{
  padding: 20px;
}

.event_image {
  border: 2px solid #cccccc;
  float: left;
  height: 140px;
  margin: 10px;
  overflow: hidden;
  width: 33%;
}

.event_image img {
width:100%;
}


.event_info {
  float: left;
  padding: 10px;
  width: 60%;
}

.event_info h3 {
  color: #0d436f;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.event_info h4 {
  font-size: 14px;
  line-height: 25px;
  text-align: left;
}


.copyright {
  border-top: 1px solid #cccccc;
  color: #494949;
  padding: 20px 0;
  text-align: center;
  margin: 40px 0 0 0 ;
}

.theme_button
	{
		background:#0d436f;
		color:#fff;
	}

#logo{
  cursor: pointer;
}